@model Movie_Rental_System.Models.Customer
@{
    ViewBag.Title = "Add New Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Customer</h2>

@using (Html.BeginForm("Create", "Customers"))
{
    <div class="form-group">
        @Html.LabelFor(c => c.Name)
        @Html.TextBoxFor(c => c.Name, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(c => c.BirthDate)
        @Html.TextBoxFor(c => c.BirthDate, new { @class = "form-control" })
    </div>

    <div class="form-check">
        <label>
            @Html.CheckBoxFor(c => c.IsSubToNewsLetter) Subscribed To Newsletter?
        </label>
     </div>
        }

