@model Movie_Rental_System.ViewModels.NewMovieViewModel
@{
    if (@ViewData["Id"].ToString() == "0")
    {
        ViewBag.Title = "Add New Movie";
    }
    else
    {
        ViewBag.Title = "Edit Movie";

    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (@ViewData["Id"].ToString() == "0")
{
    <h2>New Movie</h2>
}
else
{
    <h2>Edit Movie</h2>

}


@using (Html.BeginForm("Create", "Movies"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Movies.Name)
        @Html.TextBoxFor(m => m.Movies.Name, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Movies.ReleaseDate)
        @Html.TextBoxFor(m => m.Movies.ReleaseDate, new { @class = "form-control" })
    </div>



    <div class="form-group">
        @Html.LabelFor(m => m.Movies.GenreId)
        @Html.DropDownListFor(m => m.Movies.GenreId, new SelectList(Model.Genres, "Id", "Name"), "", new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Movies.NumberInStock)
        @Html.TextBoxFor(m => m.Movies.NumberInStock, new { @class = "form-control" })
    </div>
    @Html.HiddenFor(m => m.Movies.Id)

    <button type="submit" class="btn btn-primary">
        Save
    </button>

}

